body
{
    color: #000000;
    background-color: #ffffff;

    font-size:14px;
    font-style:normal;
    font-family:Tahoma,Arial;

    padding:0;
    margin:0;
    position:absolute;
    text-align: left;

    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}